<div>Name: <input name="name" value="<%= sensortype.name %>"></div>
<div>Unit: <input name="unit" value="<%= sensortype.unit %>"></div>
<div>Keyword:<input name="keyword" value="<%= sensortype.keyword %>"></div>