<!DOCTYPE html>
<html>
<head>
	<% include partials/_head %> 
	<% include partials/_script %>
</head>
<body>

	<!-- navigation menu - responsive -->
	<% include partials/_menu %>
	
	<!-- full screen map -->
	<div class="container-fluid" >
	
		
		<!-- instantiate the nodes & their overlays -->
		<% nodes.forEach(function(node) { %>
			<%- include('partials/sensornode', {node: node}); %>
		<% }); %>
		
	</div>
	<hr>
	<a href="nodes/add">Add node</a>
	
</body>
</html>	
