<!DOCTYPE html>
<html>
<head>
	<% include partials/_head %> 
	<% include partials/_script %>
</head>
<body>

	<!-- navigation menu - responsive -->
	<% include partials/_menu %>
	
	<!-- full screen map -->
	<div class="container-fluid" >
	
		
		<!-- instantiate the nodes & their overlays -->
		<% sensortypes.forEach(function(sensortype) { %>
			<%- include('partials/sensortype', {sensortype: sensortype}); %>
		<% }); %>
		
	</div>
	<hr>
	<a href="/sensortypes/new">Add sensor type</a>
	
</body>
</html>	
