<!DOCTYPE html>
<html>
<head>
	<% include partials/_head %> 
	<% include partials/_script %>
</head>
<body>

	<!-- navigation menu - responsive -->
	<% include partials/_menu %>
	
	<!-- full screen map -->
	<div class="container-fluid" >
	
		<form method="post" action="/sensortypes/<%= sensortype.id %>/<%= action %>">
			<%- include('partials/sensortype_edit', {sensortype: sensortype}); %>
			<input type="submit" value="Ok">
		</form>
		
	</div>
	

	
</body>
</html>	
